$navBg: chartreuse;
$linkTxt: sienna;

$contactBg: SeaGreen;
$contactTxt: white;
$contactShadowCol: #ccc;

$ctaBg: rgb(40, 207, 124);
$ctaImgBorder: black;

$productsLIBorder: black;
$productsLIBg: YellowGreen;
$productsImgBg: black;
$productsImgFontCol:white;

$introPTextCol: white;
$introBgCol: rgb(10,10,10);