$navFontSize: 1.5em;

$contactDDSize: 1.9em;
$contactDTSize: 2.6em;

$ctaLinkSize: 1.2em;

$productsFontSize: 1.3em;
$productsBtnFontSize: 1.3em;

$landingH1Size: 2.5em;
$landingPSize: 1.4em;
$sectionH2Size: 2.2em;

$introPSize: 1.2em;