nav{
    position: fixed;
    width: 100vw;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        height: 40px;
        align-items: center;
        background: $navBg;
        font-size: $navFontSize;
        a{
            text-decoration:none;
            color: $linkTxt;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}